.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Le_Grandi_Scogliere {
    color: #555555;
    background-color: silver;
}

.userData {
    display: flex;
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
    flex-direction: column;
}

.detail {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 550px;
}

.first {
    display: flex;
    flex-direction: column;
}

.skillLabel {
    text-align: center;
}

.center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.skillValue {
    text-align: center;
}

.last {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.img {
    height: 350px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    width: 512px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.button {
    display: flex;
    background-color: #666;
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    height: 20px;
    margin: 10px;
    width: 80px;
}

.back {
    width: 300px;
    margin-right: 3vmin;
    align-self: center;
}

.back-ico {
    margin-left: 3vmin;
    display: flex;
}

.spaced {
    display: flex;
    margin: 10px;
}

.combatData {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 768px;
    overflow-x: hidden;
    overflow-x: auto;
}

.hr {
    display: flex;
    border: none;
    height: 1px;
    background-color: #888;
}

.monsterData {
    display: flex;
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
    flex-direction: column;
}

.monsterDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}