.App{
  color: whitesmoke;
}
.header{
  text-align: center;
  height: 60px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.map{
  width: 1024px;
  height: 768px;
  border: 10px solid rebeccapurple;
}
.footer{
  text-align: center;
  height: 100px;
}