.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.Le_Grandi_Scogliere {
    color: #555555;
    background-color: silver;
}

.usedData {
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
}

.monsterData {
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
}