.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Le_Grandi_Scogliere {
    color: #555555;
    background-color: silver;
}

.userData {
    display: flex;
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
    flex-direction: column;
}

.detail {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 550px;
}

.first{
    height: 50px;
}

.center{
    height: 50px;
}

.last{
    height: 50px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    width: 512px;
    border: 1px solid greenyellow;
    flex-wrap: wrap;
}

.button {
    display: flex;
    background-color: #666;
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    height: 20px;
    margin: 10px;
    width: 80px;
}

.spaced{
    display: flex;
    margin: 10px;
}

.combatData {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 768px;
    overflow-x: hidden;
    overflow-x: auto;
    border: 1px solid snow;
}

.hr {
    display: flex;
    border: none;
    height: 1px;
    background-color: #888;
}

.monsterData {
    display: flex;
    width: 512px;
    height: 768px;
    border: 5px solid rebeccapurple;
    flex-direction: column;
}

.monsterDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}